.Home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;

  &__data {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 15px;
  }

  &__name {
    padding: 20px 15px;
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
    .Home-page {

      &__data {
        grid-template-columns: repeat(2, 300px);
      }
    }
}

@media screen and (max-width: 768px) {
  .Home-page {

    &__data {
      grid-template-columns: repeat(1, 300px);
    }
  }
}

